body {
  background-color: #011f3f;
  text-align: center;
  padding: 1px;
  min-height: 100vh;
  margin: 0;
}
.heading {
  margin: 5%;
  font-family: "Press Start 2P", cursive;
  color: #fef2bf;
  font-size: 2em;
}
.container {
  display: grid;
  gap: 50px;
  width: 400px;
  height: 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}
.container div {
  height: 100%;
  width: 100%;
  border: 10px solid black;
  border-radius: 20%;
  box-sizing: border-box;
}
.green {
  background-color: green;
  color: green;
}
.red {
  background-color: red;
  color: red;
}
.yellow {
  background-color: yellow;
  color:yellow
}
.blue {
  background-color: blue;
  color: blue;
}
/* ############ media Query################ */
@media (max-width: 890px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    height: auto;
    align-items:flex-end;
    margin: auto;
    flex-wrap: wrap; 
  }
  .container div {
    min-height: 100px;
    width: 100px;
    flex-shrink: 0;
  }
  .green{
    align-self: flex-start;
  }
  .yellow{
    margin-bottom: auto;
    align-self: flex-start;
  }

}
/* animation */
.spark {
  animation: flash 0.3s ease;
}

@keyframes flash {
  0%   { box-shadow: 0 0 10px #fff; transform: scale(1); }
  50%  { box-shadow: 0 0 25px #fff; transform: scale(1.1); }
  100% { box-shadow: 0 0 10x #fff; transform: scale(1); }
}

